<div class="classes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>The Full <span>Fitness</span> Experience</h1></div>
                    <div class="section_text ml-auto mr-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row classes_row">
            
            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_1">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_1.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Weight Loss Class</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_2">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Yoga Classes</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_3">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Spinning Class</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_4">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Private Fit Class</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_5">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Nutrition Classes</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_6">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_6.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Pillates Class</div>
                    </div>
                    <div class="classes_item_text">
                        <p>Sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>