<div class="classes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>The Full <span>Fitness</span> Experience</h1></div>
                    <div class="section_text ml-auto mr-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row classes_row">
            
            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_1">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_1.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Sujok</div>
                    </div>
                    <div class="classes_item_text">
                        <p>इस चिकित्सा के माध्यम से, कोई भी समस्या का आसानी से निदान कर सकता है। मुख्य बिंदुओं को दबाकर और सही दिशा में दबाव डालकर व्यक्ति समस्या का इलाज भी कर सकता है ।</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_2">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Magnet Therapy</div>
                    </div>
                    <div class="classes_item_text">
                        <p>चुंबकीय चिकित्सा एक वैकल्पिक चिकित्सा पद्धति है जो दर्द और अन्य स्वास्थ्य संबंधी चिंताओं को कम करने के लिए स्थैतिक (यानी अनमोविंग) चुम्बकों का उपयोग करती है। तथाकथित चिकित्सीय मैग्नेट आमतौर पर चिकित्सीय चुंबकीय होते हुए भी कंगन, रिंग, या जूता आवेषण में एकीकृत होते हैं । </p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_3">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Auriculotherapy </div>
                    </div>
                    <div class="classes_item_text">
                        <p>ऑरिकोथेरेपी (कान का एक्यूपंक्चर भी, और ऑरिकुलोएक्यूपंक्चर) वैकल्पिक चिकित्सा का एक रूप है, इस विचार के आधार पर कि कान एक माइक्रो सिस्टम है, जो पूरे शरीर को दर्शाता है, जो कान के बाहरी हिस्से, एरिकल पर दर्शाया गया है ।</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_4">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Color therapy</div>
                    </div>
                    <div class="classes_item_text">
                        <p>रंग चिकित्सा एक वैकल्पिक चिकित्सा है जो शारीरिक और भावनात्मक समस्याओं को ठीक करने के लिए रंगों और उनकी आवृत्तियों का उपयोग करती है। कलर थेरेपी को क्रोमोपैथी, क्रोमोथेरेपी या रंग चिकित्सा के रूप में भी जाना जाता है। क्या रंग थेरेपी के लिए प्रयोग किया जाता है? रंग चिकित्सा का लक्ष्य शारीरिक और मनोवैज्ञानिक असंतुलन को ठीक करना है</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_5">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Cupping therapy</div>
                    </div>
                    <div class="classes_item_text">
                        <p>क्यूपिंग थेरेपी वैकल्पिक चिकित्सा का एक प्राचीन रूप है जिसमें एक चिकित्सक सक्शन बनाने के लिए कुछ मिनटों के लिए आपकी त्वचा पर विशेष कप डालता है। लोग इसे कई उद्देश्यों के लिए प्राप्त करते हैं, जिसमें दर्द, सूजन, रक्त प्रवाह, विश्राम और भलाई, और एक प्रकार की गहरी ऊतक मालिश के रूप में मदद करना शामिल है ।</p>
                    </div>
                </div>
            </div>

            <!-- Class -->
            <div class="col-xl-4 col-md-6 classes_col">
                <div class="classes_item c_item_6">
                    <div class="classes_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="classes_icon d-flex flex-column align-items-center justify-content-center">
                            <div><img src="../../../assets/images/icon_6.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        </div>
                        <div class="classes_title">Dry Needling</div>
                    </div>
                    <div class="classes_item_text">
                        <p>ड्राय नीडलिंग एक उपचार तकनीक है जिसके तहत म्योफेशियल ट्रिगर पॉइंट्स (मांसपेशी में गांठ) के रिलीज के माध्यम से दर्द को कम करने और कार्य को बेहतर बनाने में सहायता करने के लिए एक बाँझ, एकल-उपयोग, महीन रेशा सुई (एक्यूपंक्चर सुई) को मांसपेशियों में डाला जाता है ।</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>