
	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="cta_content">
						<div class="cta_title">Choose Your Classes and Start Your Training</div>
						<div class="cta_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="button cta_button ml-md-auto"><a href="#">Enroll Now!</a></div>
				</div>
			</div>
		</div>
	</div>