<div class="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../../assets/images/testimonials.jpg" data-speed="0.8"></div>
    <div class="testimonials_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="testimonials_title_container">
                    <div class="testimonials_title text-center">Client's Testimonials</div>
                    <div class="quote text-center"><img src="../../../assets/images/quote.png" alt=""></div>
                </div>

                <!-- Testimonials Slider -->
                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="test_text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</div>
                            <div class="test_info text-center">
                                <div class="test_author">Jessica Smith,</div>
                                <div class="test_title">AerobicsFit Client</div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="test_text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</div>
                            <div class="test_info text-center">
                                <div class="test_author">Jessica Smith,</div>
                                <div class="test_title">AerobicsFit Client</div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="test_text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</div>
                            <div class="test_info text-center">
                                <div class="test_author">Jessica Smith,</div>
                                <div class="test_title">AerobicsFit Client</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Slider Dots -->

    <div class="test_slider_dots">
        <ul id="test_slider_custom_dots" class="test_slider_custom_dots">
            <li class="test_slider_custom_dot active">01</li>
            <li class="test_slider_custom_dot">02</li>
            <li class="test_slider_custom_dot">03</li>
        </ul>
    </div>

</div>