<div class="benefits">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>The benefits of <span>Yoga</span></h1></div>
                    <div class="section_text ml-auto mr-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row benefits_row row-lg-eq-height">
            <div class="col-lg-4 benefits_col order-lg-1 order-2">

                <!-- Benefit -->
                <div class="benefit">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center"><img src="../../../assets/images/ok.png" alt=""></div>
                        <div class="benefit_title">Healthy Life</div>
                    </div>
                    <div class="benefit_text">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

                <!-- Benefit -->
                <div class="benefit">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center"><img src="../../../assets/images/ok.png" alt=""></div>
                        <div class="benefit_title">Living Healthy</div>
                    </div>
                    <div class="benefit_text">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

                <!-- Benefit -->
                <div class="benefit">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center"><img src="../../../assets/images/ok.png" alt=""></div>
                        <div class="benefit_title">Meditation Sessions</div>
                    </div>
                    <div class="benefit_text">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 benefits_col order-lg-2 order-1 text-center">
                <div class="benefits_image"><img src="../../../assets/images/benefits.jpg" alt=""></div>
            </div>
            <div class="col-lg-4 benefits_col order-lg-3 order-3">

                <!-- Benefit -->
                <div class="benefit benefit_r">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-lg-end">
                        <div class="benefit_title text-lg-right order-lg-1 order-2">Body & Mind</div>
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center order-lg-2 order-1"><img src="../../../assets/images/ok.png" alt=""></div>
                    </div>
                    <div class="benefit_text text-lg-right">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

                <!-- Benefit -->
                <div class="benefit benefit_r">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-lg-end">
                        <div class="benefit_title text-lg-right order-lg-1 order-2">Healthy Life</div>
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center order-lg-2 order-1"><img src="../../../assets/images/ok.png" alt=""></div>
                    </div>
                    <div class="benefit_text text-lg-right">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

                <!-- Benefit -->
                <div class="benefit benefit_r">
                    <div class="benefit_title_container d-flex flex-row align-items-center justify-content-lg-end">
                        <div class="benefit_title text-lg-right order-lg-1 order-2">Relaxing and calming</div>
                        <div class="benefit_icon d-flex flex-column align-items-center justify-content-center order-lg-2 order-1"><img src="../../../assets/images/ok.png" alt=""></div>
                    </div>
                    <div class="benefit_text text-lg-right">
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>