<div class="intro">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Intro Content -->
            <div class="col-lg-7 intro_col">
                <div class="intro_content">
                    <div class="intro_title">Welcome to <span>AerobicsFit</span></div>
                    <div class="intro_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum. Integer fringilla eros quis eros aliquam tincidunt. Integer consectetur urna et mi aliquam, non malesuada sem rhoncus. Proin libero libero, interdum vel blandit non, consectetur ac eros. Nullam pulvinar massa nec lorem fermentum molestie. Mauris vestibulum nisl sed orci semper luctus. Aliquam erat volutpat. Praesent hendrerit facilisis viverra. In sit amet euismod nibh. Ut in malesuada risus, sit amet malesuada ligula. Duis dolor sem, malesuada sed sem sed, gravida pellentesque nunc.</p>
                    </div>
                    <div class="button intro_button"><a href="#">Enroll Now!</a></div>
                </div>
            </div>

            <!-- Intro Image -->
            <div class="col-lg-5 intro_col">
                <div class="intro_image"><img src="../../../assets/images/intro.jpg" alt=""></div>
            </div>

        </div>
    </div>
</div>