
	<div class="news_and_offer">
		<div class="container">
			<div class="row row-lg-eq-height">
				<div class="col-lg-6">
					<div class="news">
						<div class="news_title"><h1>Upcoming News</h1></div>
						<div class="news_subtitle">
							<p>Consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursu.</p>
						</div>
						<div class="news_items">
							
							<!-- News Item -->
							<div class="news_item d-flex flex-row align-items-start justify-content-start">
								<div><div class="news_icon d-flex flex-column align-items-center justify-content-center">
									<div class="news_date text-center">
										<div class="news_day">08</div>
										<div class="news_month">June</div>
									</div>
								</div></div>
								<div class="news_content">
									<div class="news_title"><a href="blog.html">10 Tips to get a Summer Body</a></div>
									<div class="news_info d-flex flex-row align-items-center justify-content-start">
										<div class="news_author">by <a href="#">Maria Williams</a></div>
										<div class="news_comments"><a href="#">3 Comments</a></div>
									</div>
									<div class="news_text">
										<p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris scelerisque...</p>
									</div>
								</div>
							</div>

							<!-- News Item -->
							<div class="news_item d-flex flex-row align-items-start justify-content-start">
								<div><div class="news_icon d-flex flex-column align-items-center justify-content-center">
									<div class="news_date text-center">
										<div class="news_day">08</div>
										<div class="news_month">June</div>
									</div>
								</div></div>
								<div class="news_content">
									<div class="news_title"><a href="blog.html">The Miami Yoga Retreat</a></div>
									<div class="news_info d-flex flex-row align-items-center justify-content-start">
										<div class="news_author">by <a href="#">Maria Williams</a></div>
										<div class="news_comments"><a href="#">3 Comments</a></div>
									</div>
									<div class="news_text">
										<p>Ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris scelerisque...</p>
									</div>
								</div>
							</div>

							<!-- News Item -->
							<div class="news_item d-flex flex-row align-items-start justify-content-start">
								<div><div class="news_icon d-flex flex-column align-items-center justify-content-center">
									<div class="news_date text-center">
										<div class="news_day">08</div>
										<div class="news_month">June</div>
									</div>
								</div></div>
								<div class="news_content">
									<div class="news_title"><a href="blog.html">5 Diets you need to know</a></div>
									<div class="news_info d-flex flex-row align-items-center justify-content-start">
										<div class="news_author">by <a href="#">Maria Williams</a></div>
										<div class="news_comments"><a href="#">3 Comments</a></div>
									</div>
									<div class="news_text">
										<p>Lorem ipsum dolor sit amet, consectetur elit. Donec malesuada lorem maximus mauris...</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-6 offer_col">
					<div class="offer">
						<a href="#">
							<div class="offer_content d-flex flex-column align-items-center justify-content-end">
								<div class="background_image" style="background-image:url(../../assets/images/offer.jpg)"></div>
								<div class="offer_b">Summer Offer</div>
								<div class="offer_box text-center">
									<div class="offer_box_subtitle text-sm-right">Join Now and get a</div>
									<div class="offer_box_title">20% Discount</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
